<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.6.2" targetFramework="net472" />
  <package id="ClosedXML" version="0.105.1" targetFramework="net472" />
  <package id="ClosedXML.Parser" version="2.0.0" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml" version="3.1.1" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.1.1" targetFramework="net472" />
  <package id="ExcelNumberFormat" version="1.1.0" targetFramework="net472" />
  <package id="Fody" version="6.0.5" targetFramework="net472" developmentDependency="true" />
  <package id="Google.Protobuf" version="3.11.3" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13.6" targetFramework="net472" />
  <package id="LG.Microsoft.ML" version="1.6.0.4" targetFramework="net472" />
  <package id="LG.Microsoft.ML.CpuMath" version="1.6.0.4" targetFramework="net472" />
  <package id="LG.Microsoft.ML.DataView" version="1.6.0.4" targetFramework="net472" />
  <package id="LG.Microsoft.ML.TensorFlow" version="1.6.0.4" targetFramework="net472" />
  <package id="LG.Microsoft.ML.Vision" version="1.6.0.4" targetFramework="net472" />
  <package id="LG.TensorFlow.NET" version="0.60.3.1" targetFramework="net472" />
  <package id="MethodBoundaryAspect.Fody" version="2.0.139" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.4" targetFramework="net472" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net472" />
  <package id="Microsoft.Bcl.Numerics" version="9.0.4" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="5.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.ML" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.ML.CpuMath" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.ML.DataView" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.ML.Mkl.Redist" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.ML.TimeSeries" version="5.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="Protobuf.Text" version="0.5.0" targetFramework="net472" />
  <package id="RBush.Signed" version="4.0.0" targetFramework="net472" />
  <package id="Serilog" version="2.10.0" targetFramework="net472" />
  <package id="Serilog.Sinks.Console" version="4.0.0" targetFramework="net472" />
  <package id="SixLabors.Fonts" version="1.0.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net472" />
  <package id="System.CodeDom" version="9.0.4" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="9.0.4" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="10.0.12" targetFramework="net472" />
  <package id="System.Data.SqlClient" version="4.9.1" targetFramework="net472" />
  <package id="System.IO.FileSystem.AccessControl" version="4.5.0" targetFramework="net472" />
  <package id="System.Memory" version="4.6.3" targetFramework="net472" />
  <package id="System.Numerics.Tensors" version="9.0.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net472" />
  <package id="System.Threading.Channels" version="9.0.4" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="ZXing.Net" version="0.16.11" targetFramework="net472" />
</packages>